html {
  background: url("./form_background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container{
    position: relative; 
    
    .box{
        position: absolute; 
        top: 0;             
        bottom: 0;           
        left: 0;        
        right: 0;
        margin: auto;      
    }
}
.form-group{
    color: rgb(255, 255, 255);
}
.form-control{
    font-size: 20px;
}
.btn{
    color: rgb(0, 0, 0);
    width:120px;
    height:60px;
    font-size: 30px;
    text-align: center;
}
body {
    background-color: transparent;
    height:100vh;
}